.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  max-width: var(--content-width);
  padding: 0 var(--viewport-padding);
  margin-left: auto;
  margin-right: auto;
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
}
.action {
  display: block;
  border: none;
  background: transparent;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  color: var(--color-text);
  cursor: pointer;
  transition: background 200ms;
}
.action:hover {
  background: var(--color-decorative-100);
}
.action svg {
  display: block;
}

.language-menu {
  --gap: 5px;
  position: absolute;
  z-index: 10;
  background: var(--color-card-background);
  box-shadow: var(--shadow-card);
  padding: 16px 24px;
  border-radius: 12px;
  padding: 0;
  margin: 0;
  top: calc(100% + var(--gap));
  right: 0;
  list-style-type: none;
  /**
  * Avoid getting borders removed with background-color
  */
  overflow: hidden;
}

.language-menu li, .language-menu a {
  text-decoration: none;
}

.language-menu li {
  padding: .5em 2em;
}

.language-menu .active {
  background-color: var(--color-decorative-500);
}

.language-menu li:hover {
  background-color: var(--color-decorative-500);
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--color-primary);
}
